@import url("https://fonts.googleapis.com/css?family=Roboto");

.list {
  margin-left: 40px;
  ul,
  li,
  a {
    list-style-type: none;
    text-decoration: none;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
  }

  a {
    padding-left: 0;
  }

  li {
    padding-top: 10px;
  }

  .circle {
    list-style-type: circle;
  }

  .arrow-black {
    position: relative;
    &:before {
      position: absolute;
      content: url("../images/arrow-black.svg");
      top: 0;
      left: -20px;
      width: 15px;
      height: 15px;
      transition: all 0.1s ease-out;
    }
  }

  .down-black {
    &:before {
      position: absolute;
      content: url("../images/arrow-black.svg");
      top: 7px;
      left: -20px;
      width: 15px;
      height: 15px;
      transform: rotate(90deg);
    }
  }

  .arrow-white {
    position: relative;
    &:before {
      position: absolute;
      content: url("../images/arrow-white.svg");
      top: 9px;
      left: -20px;
      width: 15px;
      height: 15px;
      transition: all 0.1s ease-out;
    }
  }

  .down-white {
    position: relative;
    &:before {
      position: absolute;
      content: url("../images/arrow-white.svg");
      top: 16px;
      left: -20px;
      width: 15px;
      height: 15px;
      transform: rotate(90deg);
    }
  }

  .secondContent {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all 0.1s linear;
  }

  .thirdContent {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all 0.1s linear;
  }

  .active {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
}
