@import url('https://fonts.googleapis.com/css?family=Roboto');
.list, .list2 {
  display: inline-block;
}
.list, .list2 {
  margin-left: 40px;
  ul, li, a {
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
  }
  .secondContent {
    display: none;
  }
  .thirdContent {
    display: none;
  }
  .active {
    display: block;
  }
}
